<nav class="navbar navbar-horizontal navbar-expand-lg navbar-light">
    <div class="container">

        <div class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="javascript:void(0)">
                            <img src="../../assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                            data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        <i class="ni ni-cloud-download-95"></i>
                        <span class="nav-link-inner--text d-lg-none">Discover</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        <i class="ni ni-badge"></i>
                        <span class="nav-link-inner--text d-lg-none">Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        <i class="ni ni-bell-55"></i>
                        <span class="nav-link-inner--text d-lg-none">Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        <i style="font-size:30px" class="ni ni-circle-08">
                            <span style="font-size:22px;"><sup>Temporary</sup></span>
                        </i>
                        <span class="nav-link-inner--text d-lg-none">Profile</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<nav class="navbar navbar-horizontal navbar-expand-lg navbar-light">
    <div class="container">

        <a class="navbar-brand pl-3" href="#">Clients</a>

        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item text-center" style="padding-right:30px">
                <input class="form-control" type="text" placeholder="Search by customer name/email"
                    style="width:200px;font-size:10px">
            </li>
            <li class="nav-item text-center" style="padding-right:150px">
                <a href=" #" class="btn btn-primary active " role="button" aria-pressed="true">Search</a>
            </li>
            <li>

            </li>
            <li class="nav-item">
                <a href="/clients/new" class="btn btn-primary active" role="button" aria-pressed="true">Add
                    New
                    Customer</a>
            </li>

        </ul>

    </div>
    </div>

</nav>