const mongoose=require('mongoose');

const clientSchema=new mongoose.Schema({
    name:{
        type: String,
        required: true
    },
    img:{
        type: String,
    },
    price:{
        type: Number,
        min: 0,

    },
    desc:{
        type: String
    },
    reviews:[
        {
            type: mongoose.Schema.Types.ObjectId,
            ref:'Review'
        }
    ]
});

const Client=mongoose.model('Client',clientSchema);

module.exports=Client;